<form method="post" action="{{ path('app_university_desactivate', {'id': university.id}) }}" onsubmit="return confirm('Voulez vous désactiver cette université ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('desactivate' ~ university.id) }}">
    <button title="Désactiver pour ne pas le rendre public" class="btn badge badge-warning">Désactiver</button>
</form>
