<form method="post" action="{{ path('app_school_desactivate', {'id': school.id}) }}" onsubmit="return confirm('Voulez vous désactiver cette école ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('desactivate' ~ school.id) }}">
    <button title="Désactiver pour ne pas le rendre public" class="btn badge badge-warning" >Désactiver</button>
</form>
